#app {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
}

svg {
  min-height: 90vh;
  min-width: 90vw;
  margin: 0 auto;

  font-family: arial, sans-serif;
  font-weight: 600;
  alignment-baseline: middle;
}

svg path {
  stroke-width: 1;
  stroke: white;
}

svg g {
  transition: all 0.3s ease-in;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
svg text {
  /* backface-visibility: hidden; */
  /* -webkit-backface-visibility: hidden; */
  /* filter: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><filter id="gaussian_blur"><feGaussianBlur in="SourceGraphic" stdDeviation="0" /></filter></defs></svg>#gaussian_blur'); */
}

/* 1st feeling ring (inner )*/
svg > g.group > g.feeling { }
svg > g.group:hover > g.feeling,
svg > g.group.active > g.feeling {
  transform: scale(1.04);
  filter: saturate(120%);
}
svg > g.group:hover g.feeling {
  transform: scale(1.04);
  filter: saturate(120%);
}

/* 2nd feeling ring (middle) */
svg > g.group > g.group > g.feeling {
  filter: saturate(60%);
}
svg > g.group > g.group:hover > g.feeling,
svg > g.group > g.group.active > g.feeling {
  transform: scale(1.07);
  filter: saturate(120%);
}
svg > g.group > g.group:hover g.feeling {
  transform: scale(1.07);
  filter: saturate(120%);
}

/* 3rd feeling ring (outer) */
svg > g.group > g.group > g.group > g.feeling {
  font-weight: 500;
}
svg > g.group > g.group > g.group:hover > g.feeling,
svg > g.group > g.group > g.group.active > g.feeling {
  transform: scale(1.10);
  filter: saturate(140%);
}
svg > g.group > g.group > g.group:hover g.feeling {
  transform: scale(1.10);
  filter: saturate(140%) brightness(120%);
}
